
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Vina+Sans&display=swap');

.App {
  text-align: center;
  width:80%;
  
  background-color: brown;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F7F7F7;
}
