
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Vina+Sans&display=swap');

.App {
  text-align: center;
  width:80%;
  background-color: brown;
}

body, html {
  background-color: #FAEEE7!important;
}



h2 {
  font-family: 'Rubik Broken Fax';
  font-size: 40px;
  color: #001858;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}


h3 {
  color: #001858;
  font-family: "Vina Sans";
  font-size: 1rem!important;
  font-style: normal;
  font-weight: 400;
}
