.big-card{
  width: 11rem; /* 240px / 16px = 15rem */
  height: 15rem; /* 336px / 16px = 21rem */
  border: solid;
  border-color: grey;
  margin-right: 1rem;
  position: relative;
}

.card-header{
  width: 100%;
  height: 40px;
  background-color: #FAEEE7!important;
  border-bottom: solid !important;
}

.hp-square{
  width: 40px;
  height: 40px;
  background-color:#F13929;
  border-bottom: solid !important;
}

.attk-square{
  width: 40px;
  height: 40px;
  background-color:#42B3F2;
  border-bottom: solid !important;
}

.name-card{
  color: #33272A;
  text-align: center;
  font-family: "Vina Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ability-text{
  position: absolute;
  bottom: 0;
  border-top: solid ;
  width: 100%;
  background-color: #FAEEE7!important;
}

.text-p{
  color: #594A4E;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}